.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(211, 239, 66);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid{
   
    display: grid;
    grid-template-columns: repeat(6, auto);
    width: 1000px;
    gap: 2px;
    align-content: center;
    text-align: center;
    border-radius: 20%;
    border: 5px solid rgb(195, 255, 0);

}
.grid-son-1 {
  height: 100px;
  width: 100px;
  text-align: center;
  align-items: center;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27c6a1;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.grid-son-2 {
  height: 100px;
  width: 205px;
  text-align: center;
  align-items: center;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2784c6;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

